@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* ==============VARIABLE CSS============== */
:root{
    --header-height: 3.5rem;

/* ==========Colours================ */
/*Colour Mode - RGBA*/

--primary-color: rgba(11, 21, 60, 1);
--secondary-color: rgba(23, 194, 236, 1);
--grey-color:  rgba(255, 255, 255, 0.70);
--white-colour: #ffff;
--grey-transparent-color: rgba(255, 255, 255, 0.20);

/* ============Font and Topography============ */
/* .5rem = 8px | 1rem = 16px */
--body-font: 'Montserrat', sans-serif;
--biggest-font-size: 3rem;
--bigger-font-size: 1.8rem;
--h1-font-size: 1.75rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size: 1rem;
--small-font-size: 0.875rem;
--smaller-font-size: 0.675rem;

/* ============Font Weight====================== */
--font-regular: 400;
--font-semi-bold: 600;
--font-bold: 700;
--font-very-bold: 800;

/* ============ z-index========================== */
--z-tooltip:10;
--z-fixed: 100;

}

/* =================Responsive Topography========== */
@media screen and (min-width: 1150px)  {
    :root{
        --biggest-font-size: 5rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
    
}


/* ===================  BASE  =================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;

}

body,button{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

button{
    border: none;
    outline: none;
}

h1,h2,h3,h4,p,a{
    font-family: var(--body-font);
    color: var(--white-colour);
    font-weight: var(--font-bold);
    font-style: normal;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}



/* ========================= REUSABLE CLASSES ====================*/
.container{
    margin: 1.5rem 2rem; 
}   

.grid{
    display: grid;
    gap: 1.5rem
}

.section{
    padding: 2em 1em; 
}

.section__title {
    font-size: var(--bigger-font-size);
    font-family: var(--second-font);
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }

  .flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-column{
    display: flex;
    flex-direction: column;
  }

  .button{
    display: inline-flex;
    padding: 1rem 1.5rem;
    color: var(--white-colour);
    background: var(--secondary-color);
    border-radius: 20px;
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size)
  }

  .transparent__btn{
    background: var(--grey-transparent-color);
  }


/* ================= HEADER ========== */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
}

.nav__logo{
    color: var(--white-colour);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    transition: color .4s;
}

.nav__logo:hover{
    color: var(--secondary-color);
}

.nav__close,
.nav__toggle{
    font-size: 1.5rem;
    color: var(--white-colour);
    cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 6%, 0.2 );
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);  /* For Safari */
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link{
    color: var(--white-colour);
    font-weight: var(--normal-font-size);
    transition: color .01s;
}

.nav__link:hover{
    color: var(--secondary-color)
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.btn__status{
    margin-top: 5rem;
}


/* ================== Show Menu ================ */
.show-menu{
    right: 0;
}

/* =================== Blur Header =================*/

.blur_header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0, 0%, 6%, 0.25 );
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);  /* For Safari */
    top: 0;
    left: 0;
    z-index: -1;
}


/* =================================HOME================================== */

.home{
    position: relative;
    padding-top: 6.5rem;
}

.home__container{
    row-gap: 2rem;
}

.home__main{
    margin-bottom: 1rem;
}

.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -20;
}

.home__bg{
    object-fit: cover;
}

.home__data{
    position: relative;
    margin: 0 auto 1.5rem;

}

.home-title-header{
    color: var(--secondary-color);
    font-size: var(--small-font-size);
    margin-bottom: 1.5rem;
}

.home-title{
    font-size: var(--bigger-font-size);
    margin-bottom: 1.5rem;
}

.vax-title{
    color: var(--secondary-color);
}

.home__title__footer{
    color: var(--grey-color);
    font-size: var(--small-font-size);
    margin-bottom: 1.5rem;
}

.home__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: var(--small-font-size);
    text-wrap: nowrap;
}

.btn__vax:hover{
    background: var(--white-colour);
    color: var(--secondary-color);
}

.btn__help{
    background: rgba(255, 255, 255, 0.20);
    border: 2px solid var(--secondary-color);
}

.home__data{
    max-width: 400px;
}

.home__image{
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.home__img__left,
.home__img__right,
.home__img__bottom{
    position: absolute;
}

.home__img__left{
    background-color: var(--white-colour);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 60px;
    top: 40%;
    left: -10%;
}

.home__img__right{
    background-color: var(--white-colour);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 60px;
    top: 40%;
    right: -5%;
}

.home__img__bottom{
    background-color: rgba(255, 255, 255, 0.20);
    padding: 1rem 1rem;
    border-radius: 10px;
    bottom: -10%;
    left: -10%;
    column-gap: 1rem;
}

.home__img__bottom__item{
    width: 30px;
}

.home__img__bottom__text{
    color: var(--white-colour);
    font-size: var(--small-font-size);
}

.home__img__bottom__text__spe{
    color: var(--secondary-color);
}


/*======================== HOME SCHEDULE ==========================*/

.home__schedule{
    color: var(--white-colour);
    margin: 0 auto;
    padding-bottom: 0;
    width: 90%;
}

.schedule__time{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
}

.schedule_icon{
    padding: 0.25rem;
    background-color: var(--grey-transparent-color);
    border-radius: 6px;
}

.schedule__time p{
    font-size: var(--normal-font-size);
}

.schedule{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px 20px 0 0;
    padding-top: 1rem;
    margin-top: 1rem;
}

.schedule__container{
    background: rgba(255, 255, 255, 0.10);
    border-radius: 20px 20px 0 0 ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition: all .1s ease;
}

.schedule__item{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.schedule__item.schedule_icon{
    height: auto;
}

.schedule__item__info{
    font-size: var(--small-font-size);
}

.schedule__item__info__title,
.schedule__item__info__detail{
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.schedule__item__info__title{
    color: rgba(255, 255, 255, 0.50);
}

.schedule__item__info__detail{
    color: var(--white-colour);
}

.schedule__btn{
    margin-top: 1rem;
    text-align: center;

}

/* =============================== HOME BRANDS ================================ */

.brands{
    background: var(--grey-color);
    padding: 0.5em 2em;
}

.home_brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2em;
}

.img__brand {
    max-width: 200px;
    width: 20%;
    height: 16px;
}


.img__brand{
    flex-grow: 1;
}




/* =========================CHECK RESULT======================================= */
.check__result{
    position: relative;
}

.check__result__container{
    background: rgba(255, 255, 255, 0.05);
    width: 90%;
    margin: 1rem auto;
    padding-bottom: 0.5em;
    border-radius: 10px;
    position: relative;
}

.check__result__title{
    padding: 1rem 1.5rem;
    width: 100%;
    color: var(--white-colour);
    background: rgba(255, 255, 255, 0.10);
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: var(--smaller-font-size);
}

.check__result__form{
    display: flex;
    flex-direction: column;
    row-gap: 0.875em;
    margin-top: 1.5rem;
    padding-left: 1rem;
}

.check__result__form input{
    width: 80%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.50);
    background: none;
    color: rgba(255, 255, 255, 0.50);
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1em;

}


.check__result__form button{
    display: flex;
    width: 150px;
    height: 50px;
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid #17C2EC;
    background: rgba(196, 196, 196, 0.10);
}

.check__result__certificate__need{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    flex-shrink: 0;
    margin: 3em auto;
    width: 80%;
    text-align: center;
    padding: 1em 1em;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.05);
    
}

.check__result__certificate__need p{
    color: #17C2EC;
    text-align: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* =================Why Get Vaccinated========== */

.why__get__vaccine{
    padding-left: 2.1em;
}

.why__get__vaccine__container{
    text-align: left;
}
.why__get__vaccine__container h2{
    color: #FFF;
    font-family: "Montserrat";
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}



.why__get__vaccine__detail p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 400px;
    }

.why__get__vaccine__reasons{
    display: flex;
    flex-direction: column;
    row-gap: 1.875em;
    
}

.icon__container{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(196, 196, 196, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reasons__against__immune{
    width: 276px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 20px 80px 20px 20px;
    background: rgba(196, 196, 196, 0.20);
    display: flex;
    flex-direction: column;
    row-gap: 1.25em;
    margin-top: 2.5em;
    padding: 20px 0 20px 20px;

}

.reasons__against__immune h3{
    color: #17C2EC;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.reasons__against__immune p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.read__more{
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reasons__against__immune a{
    color: #17C2EC;
    }

.other__reasons{
    row-gap: 30px;
}

.other__reasons__item {
    width: 188px;
    height: 202px;
    border-radius: 20px;
    border: 2.994px solid rgba(255, 255, 255, 0.50);
    row-gap: 1.25em;
    padding: 20px 0 20px 20px;

}

.other__reasons__item h3{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.other__reasons__item a{
    color: rgba(255, 255, 255, 0.50);
}


/* ===================== Vaccine Registeration ================== */
.get__vaccine__today{
    background: var(--white-colour);
    row-gap: 1.875em;
    margin: 0 auto;
}

.get__vaccine__today h1,
.get__vaccine__today a,
.get__vaccine__today p{
    color: #000;
}

.get__vaccine__today__title{
    text-align: center;
    z-index: 10;
}

.get__vaccine__today__title h2{
    color: #000;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: var(--font-bold);
    line-height: normal;
}



.get__vaccine__today__img{
    width: 289.028px;
    height: 418.329px;
    border-radius: 15.212px;
    background: #0B153C;
    margin: 1em auto;
    position: relative;
}

.get__vaccine__today__img img,
.get__vaccine__today__img h3,
.get__vaccine__today__img a{
    position: absolute;
    z-index: 10;
}

.covid__vaccine{
    bottom: 0;
}

.corona__virus {
    top: -7.5%;
    left: -7.5%;
}

.get__vaccine__today__img h3{
    top: 2em;
    left: 35%;
    text-align: center;
}

.get__vaccine__today__img a{
    bottom: 2em;
    left: 25%;
}

.form__input{
    row-gap: 1.25em;
    margin-bottom: 1em;
}

.get__vaccine__today__form {
    margin: 1em auto;
}

.get__vaccine__today__form form{
    margin-bottom: 2em;
}

.get__vaccine__today__form label{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.get__vaccine__today__form input{
    color: rgba(0, 0, 0, 0.25);
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.get__vaccine__today__form .big__input{
    width: 305px;
    height: 50px;
    border-radius: 10px;
    background: rgba(11, 21, 60, 0.15);
    border: none;
    padding: 1em;

}

.get__vaccine__today__form p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__input__container{
    width: 305px;
    height: 50px;
    border-radius: 10px;
    background: rgba(11, 21, 60, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center ;
    column-gap: 0.25em;
    padding: 1em;
}

.form__input__container input{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.btn__verify{
    display: flex;
    width: 150px;
    height: 50px;
    padding: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn__submit{
    display: flex;
    width: 305px;
    height: 50px;
    padding: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5em;
}

.reg_status{
    width: 95%;
    
}

.reg_status p{
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reg_status a{
    color: #17C2EC;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* =================Covid-19 Prevention=============== */
.covid__prevention{
    position: relative;
}

.man_with_covid_img{
    position: absolute;
    bottom: 0;
    z-index: -10;
    left: 18%;
}

.covid__prevention__detail{
    row-gap: 10px;
    text-align: center;
    margin-bottom: 1.25em;
}

.covid__prevention__detail h3{
    color: #FFF;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.covid__prevention__detail h1{
    color: #fff;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.covid__prevention__detail p{
    color: rgba(255, 255, 255, 0.50);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Symptoms */

.covid__symptoms{
    row-gap: 1em;
}

.symptoms__group__1,
.symptoms__group__2,
.symptoms__group__3{
    margin: 0.5em auto;
    padding-left: 1em;
}


.symptoms__group__1{
    width: 88%;

}

.symptoms__group__2{
    width: 94%;
}

.symptoms__group__3{
    width: 100%;

}

.symptoms__each{
    border-radius: 4.863px;
    background: rgba(196, 196, 196, 0.20);
    padding: 0.25em 0.25em 0.25em 1.2em;
    text-align: center;
    position: relative;
}

.symptoms__each p{
    color: #17C2EC;
    text-align: center;
    font-size: var(--smaller-font-size);
    font-weight: 600;
    line-height: normal;
}

.symptoms__each img{
    position: absolute;
    left: -20%;
    top: -15%;
    transform: scale(1.1);
}

/* ===================== FEEDBACK ==================== */
.feedback {
    background: var(--white-colour);
    padding-bottom: 10em;
    
}

.feedback_detail{
    text-align: center;
    row-gap: 1em;
    margin-bottom: 1rem;
}

.feedback_detail h3{
    color: #17C2EC;
    font-size: var(--small-font-size);
    font-weight: 700;
    line-height: normal;
}

.feedback_detail h2 {
    color: #000;
    font-size: var(--h2-font-size);
    font-style: normal;
    font-weight: var(--font-very-bold);
}

.feedback_detail p{
    color: rgba(0, 0, 0, 0.50);
    font-size: var(--small-font-size);
    font-weight: 500;
    line-height: normal;
    margin: 0 3em;
}

/* Testimonial */

.testimonials{
    row-gap: 1.875em;
}

.testimonial_item {
    width: 305px;
    height: 190.625px;
    border-radius: 13.55px;
    background: rgba(196, 196, 196, 0.50);
    position: relative;
    margin: 0 auto;
    padding: 1em 1em 1.5em 1em;
}

.covid__bottle{
    position: absolute;
    top: -10%;
    left: 30%;
}

.testimonial_profile{
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 1.875em;
}

.testimonial_profile h3{
    color: #000;
    font-size: var(--small-font-size);
    font-weight: 700;
    line-height: normal;
}

.testimonial_profile p {
    color: rgba(0, 0, 0, 0.50);
    font-size: var(--smaller-font-size);
    font-weight: 700;
    line-height: normal;
}

.testimonial_paragraph p{
    text-align: center;
    color: rgba(0, 0, 0, 0.60);
    font-size: var(--small-font-size);
    font-weight: 500;
    line-height: normal;
}

.item_green h3{
    color: #fff
}

.item_green p{
    color: rgba(255, 255, 255, 0.75);
}

/* ==============================Footer ========================================*/

.footer {
    position: relative;
    padding: 10em 8em 1.875em;
}

.quote {
    width: 80%;
    height: 206px;
    border-radius: 20px;
    background: rgba(196, 196, 196, 0.15);
    padding: 31px 12px 28px 13px;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin: auto;

}

.quote_container{
    width: 90%;
    height: 147px;
    border-radius: 10px;
    background: #17C2EC;
    padding: 1em 1.5em 1.875em;
    text-align: center;
    margin: auto;
}

.quote_container h2 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    line-height: normal;
    margin-bottom: 5px;
}

.quote_container p {
    text-align: center;
    font-size: 0.625em;
    font-weight: var(--font-regular);
    margin-bottom: 2em;
    
}

.email_container {
    display: flex;
    align-items: center;
    margin: auto;
}

.input {
    display: flex;
    align-self: center;
    padding-left: 1.5em;
    width: 174.75px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.input input {
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.25);
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
}

.email_btn {
    width: 58.25px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    background: #0B153C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}


.footer__menu h2{
    font-size: 1.125em;
    font-weight: var(--font-bold);
    line-height: normal;
}


.footer__link{
    color: rgba(255, 255, 255, 0.50);
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: var(--font-semi-bold);
    line-height: normal;
}

.footer__link ~ .active {
    color: #fff;
}

.socials {
    display: flex;
    column-gap: 0.5em;
}

.socials i{
    color: var(--white-colour);
}


/* =============================== SCROLL BAR =================================== */

::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(28, 12%, 15%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(28, 12%, 25%);
}
::-webkit-scrollbar-thumb:hover {
    width: .6rem;
    background-color: hsl(28, 12%, 35%);
}

/* =========================SCROLL UP ========================== */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 12px 24px hsl(0,0,0,0.3);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: 100;
    transition: bottom .4s, transform .4s;
    border-radius: 5px;
}

.scrollup:hover {
    transform : translateY(-.5rem)
}

/* Show scroll up */
.show-scroll {
    bottom: 3rem;
}



/* -------------------------- RESPONSIVENESS --------------------------- */

/* For medium devices */
@media screen and (min-width: 576px) {

    .nav__menu {
        width: 50%;
    }

    .schedule__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2em;
    }

    .schedule__item {
        width: 40%;
        margin: 10px;
    }


    .img__brand{
        height: 34px;
    }

    .check__result__title{
        font-size: 1.25em;
        font-weight: var(--font-bold);
    }

    .check__result__form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 1em auto;
        row-gap: 1.5em;
    }

    .check__result__certificate__need p{
        font-size: 1em;
    }

    .other__reasons {
        flex-direction: row;
        column-gap: 2em;
        padding-bottom: 2em;
    }

}

/* Large Tablets */
@media screen and (min-width: 768px) {

    .home__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .get__vaccine__today__title h2 {
        text-align: left;
        font-size: var(--h1-font-size);
    }

    .get__vaccine__today__flex {
        flex-direction: row-reverse;
    }

    .quote{
        width: 70%;
    }

    .quote_container {
        width: 80%;
    }

}

/* For Large Devices */

@media screen and (min-width: 1150px) {

    .nav {
        height: calc(var(--header-height));
    }

    .header {
        padding: 1em 8em;
    }

    .section {
        padding: 2rem 8rem;
    }

    .nav__menu{
        width: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 3em;
        padding: auto 1em;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        column-gap: 1.5em;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .nav__link {
        font-size: 1em;
        text-wrap: nowrap;
    }

    .btn__status {
        margin-top: 0;
        border-radius: 20px;
        background: rgba(196, 196, 196, 0.10);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: var(--secondary-color);
    }

    .container{
        margin: 1.5rem 2rem; 
    }

    .home {
        padding-top: 8em;
    }
    .home__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
    }

    .home__image {
        max-width: 500px;
    }

    .home__data {
        max-width: 1200px;
    }

    .home-title-header{
        font-size: var(--h3-font-size);
    }

    .home__title h1{
        font-size: 2.5em;

    }

    .home__title__footer{
        font-size: 1em;
    }

    .button{
        display: inline-flex;
        padding: 20px 25px;
        align-items: flex-start;
        font-size: 1.25em;
        gap: 10px;
        cursor: pointer;
    }

    .schedule__time p{
        font-size: 1.5em;
    }

    .schedule__container{
        display: flex;
        justify-content: space-between;
        padding: 2.5em;
    }

    .schedule__item{
        width: 20%;
    }

    .img__brand{
        height: 50px;
    }

    .home_brands{
        column-gap: 3em;
    }

    .check__result__title{
        text-align: left;
    }

    .check__result__form{
        flex-direction: row;
        align-items: center;
        column-gap: 1em;
        margin: 3em auto;
    }

    .check__result__form input {
        width: 40%;
    }

    .schedule__item__info__title,
    .schedule__item__info__detail{
        font-size: 20px;
    }

    .feedback {
        padding-bottom: 10em;
    }

    .testimonials{
        flex-direction: row;
        column-gap: 1em;
    }

    .footer__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__list {
        display: flex;
        flex-direction: row;
        column-gap: 2em;
    }

    .why__get__vaccine {
        padding: 2em 12em;
    }

    .why__get__vaccine__detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .why__get__vaccine__detail p {
        max-width: 300px;
    }

    .why__get__vaccine__reasons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

    .other__reasons {
        column-gap: 8em;
    }


    }



    

    
}